.main-color {
  color: #ffbd50;
}

.black-shade {
  text-shadow: 1px 1px 1px #333;
}

body {
  font-family: bnhand;
}

.my-nav a {
  text-decoration: none;
}

.my-nav h1 {
  color: #ffbd50;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: .5rem;
  font-family: palash;
  font-size: 2rem;
}

.header h1 {
  font-family: palash;
}

.header h3 {
  color: #FFF;
}

.crown-color {
  color: #ffbd50;
}

.slider-img-size img {
  width: 95vw;
  height: 50vw;
  max-height: 580px;
}

#features {
  padding-top: 15rem;
  padding-bottom: 6.25rem;
  background-color: #ffbd50;
}

.course-box {
  margin-bottom: 2rem;
  width: 100%;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 11px;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(111, 111, 111, 0.55);
  box-shadow: 2px 2px 5px 0px rgba(111, 111, 111, 0.55);
  cursor: pointer;
}

.course-box img {
  display: block;
  width: 100px;
  height: 100px;
}

.course-box > p, .course-box h1, .course-box h2, .course-box h3, .course-box h4, .course-box h5, .course-box h6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
}

.course-box:hover {
  -webkit-box-shadow: 2px 2px 7px 0px #6f6f6f;
  box-shadow: 2px 2px 7px 0px #6f6f6f;
}

.unique-text p, .unique-text h1, .unique-text h2, .unique-text h3, .unique-text h4, .unique-text h5, .unique-text h6 {
  /*color: rgb(170, 56, 252);*/
  color: #000;
}

.mega-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courses {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.courses-plan-box {
  cursor: context-menu;
  background-color: #fbf9f5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.courses-plan-box > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.courses-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses-plan-tag {
  padding: .5rem 1rem;
  background-color: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px;
  padding: 2px 10px;
}

.courses-plan-tag > img {
  width: 30px;
  height: 30px;
}

.courses-plan-tag p, .courses-plan-tag h1, .courses-plan-tag h2, .courses-plan-tag h3, .courses-plan-tag h4, .courses-plan-tag h5, .courses-plan-tag h6, .courses-plan-tag h7 {
  margin: 0;
  padding: 0;
  clear: both;
}

.courses-plan-tag p {
  font-size: 1.2rem;
  font-weight: bold;
}

.courses-bnr {
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.courses-bnr img {
  width: 100%;
  height: 100%;
}

.courses-details {
  margin: 35px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-details a {
  background-color: #ffbd50;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
}

.courses-details a > p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
}

.teaches-slide p, .teaches-slide h1, .teaches-slide h2, .teaches-slide h3.h4, .teaches-slide h5, .teaches-slide h6 {
  width: auto;
  margin: 0;
  padding: 0;
}

.teaches-name {
  text-align: center;
  margin: 2rem 0rem;
}

.teaches-image img {
  border-radius: 50% !important;
}

.copyright a {
  text-decoration: none;
}

.quiz-form-download {
  text-decoration: none;
  padding: 1rem 1.3rem;
  font-size: 1.5rem;
  background-color: #ffbd50;
}

/* ************************* */
/*           @MEDIA          */
/* ************************* */
@media (max-width: 400px) and (min-width: 0px) {
  .outer-container {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) and (min-width: 0px) {
  #features {
    padding-top: 8rem;
  }
}

@media (min-width: 768px) {
  .slider-img-size img {
    width: 90vw;
    height: auto;
  }
}

@media (min-width: 992px) {
  .slider-img-size img {
    width: 80vw;
    height: 50vw;
  }
}

@media (min-width: 1200px) {
  .slider-img-size img {
    width: 70vw;
    height: 40vw;
  }
}
/*# sourceMappingURL=custom-style.css.map */